/* Define o estilo geral da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b3e5fc;
    font-family: Arial, sans-serif;
}

/* Estilo da caixa que envolve o formulário */
form {
    background-color: white;
    padding: 20px;
    width: 50%;
    height: auto; 
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

/* Estilo do título */
p {
    text-align: center;
    font-size: 1.5em;
    color: #333;
}

/* Estilo dos labels */
form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #333;
}

/* Estilo dos inputs e selects */
form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

/* Estilo do botão de submit */
form button {
    background-color: #0288d1;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #0277bd;
}
